Repository edcsnt/scaf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: checkbashisms, markdownlint, pylint, mypy, ruff-check, ruff-format, shellcheck, vale, yamllint

checkbashisms:
  dependencies: []
  image:
    pull_policy: if-not-present
    name: docker.io/library/alpine:latest
  before_script:
  - apk add checkbashisms
  script:
  - find . -name .git -type d -prune -o -name \*.sh -type f -size +0c -exec checkbashisms -pflx {} +

markdownlint:
  dependencies: []
  image:
    pull_policy: if-not-present
    name: quay.io/redhat-aqe/markdownlint:latest
  script:
  - mdl .

pylint:
  dependencies: []
  image:
    pull_policy: if-not-present
    name: docker.io/$CI_PROJECT_NAMESPACE_SLUG/tox:latest
  script:
  - tox run -e $CI_JOB_NAME_SLUG
  cache:
    paths:
    - .tox
    when: always

mypy:
  dependencies: []
  image:
    pull_policy: if-not-present
    name: docker.io/$CI_PROJECT_NAMESPACE_SLUG/tox:latest
  script:
  - tox run -e $CI_JOB_NAME_SLUG
  cache:
    paths:
    - .tox
    when: always

ruff-check:
  dependencies: []
  image:
    pull_policy: if-not-present
    name: docker.io/$CI_PROJECT_NAMESPACE_SLUG/tox:latest
  script:
  - tox run -e $CI_JOB_NAME_SLUG
  cache:
    paths:
    - .tox
    when: always

ruff-format:
  dependencies: []
  image:
    pull_policy: if-not-present
    name: docker.io/$CI_PROJECT_NAMESPACE_SLUG/tox:latest
  script:
  - tox run -e $CI_JOB_NAME_SLUG
  cache:
    paths:
    - .tox
    when: always

shellcheck:
  dependencies: []
  image:
    pull_policy: if-not-present
    name: docker.io/koalaman/shellcheck-alpine:latest
  script:
  - find . -name .git -type d -prune -o -name \*.sh -type f -size +0c -exec shellcheck -a {} +

vale:
  dependencies: []
  image:
    pull_policy: if-not-present
    name: docker.io/jdkato/vale:latest
    entrypoint:
    - ''
  before_script:
  - vale sync
  script:
  - vale --glob='!.vale/*' .

yamllint:
  dependencies: []
  image:
    pull_policy: if-not-present
    name: docker.io/$CI_PROJECT_NAMESPACE_SLUG/tox:latest
  script:
  - tox run -e $CI_JOB_NAME_SLUG
  cache:
    paths:
    - .tox
    when: always

vale: disable a couple of rules
  .vale.ini
Due: vale

README: provide find command for all placeholders
  README
Due: none

pyproject.toml: don't assume the classifiers
  pyproject.toml
Due: pylint, mypy, ruff-check, ruff-format

nit: limit comments to 72 columns in .yamllint
  .yamllint
Due: yamllint

misc: test signature
  tmp
Due: none

feat: add Prettier config
  prettier.config.ts
Due: none

misc: remove tmp file
  tmp
Due: none

style: put comments on their own lines
  .github/workflows/CHANGEME.yaml
  .gitignore
  .yamllint
  pyproject.toml
Due: pylint, mypy, ruff-check, ruff-format, yamllint

add EditorConfig for HTML
  .editorconfig
Due: none

Path conditions:
  checkbashisms: any of: **/*.sh, .gitlab-ci.yml
  markdownlint: any of: **/*.md, .gitlab-ci.yml, .mdl.rb, .mdlrc
  pylint: any of: **/*.py, .gitlab-ci.yml, pyproject.toml
  mypy: any of: **/*.py, .gitlab-ci.yml, pyproject.toml
  ruff-check: any of: **/*.py, .gitlab-ci.yml, pyproject.toml
  ruff-format: any of: **/*.py, .gitlab-ci.yml, pyproject.toml
  shellcheck: any of: **/*.sh, .gitlab-ci.yml
  vale: any of: **/*.{ini,md,py,rb}, .gitlab-ci.yml, .vale/config/**/*.{txt,yml}
  yamllint: any of: **/*.{yaml,yml}, .yamllint
